{% extends "base.html" %} {% load allauth i18n socialaccount %} {% block
head_title %} {% trans "Signup" %} {% endblock head_title %} {% block content %}

<div class="container mt-4 authentication">
  <div class="row">
    <div class="col-md-6 offset-md-3 card py-3 light-bg">
      <h2 class="text-center brand-centered">Sign Up</h2>
      <p>
        Already have an account? Then please
        <a
          href="{{ login_url }}"
          aria-label="Click to go to login page (Redirect to login page)"
          >Sign in</a
        >.
      </p>
      {% url 'account_signup' as action_url %} {% element form form=form
      method="post" action=action_url tags="entrance,signup" %} {% slot body %}
      {% csrf_token %} {% element fields form=form unlabeled=True %} {%
      endelement %} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
        aria-label="Click to Sign up"
      />
      {% endif %} {% endslot %} {% slot actions %} {% element button
      tags="prominent,signup" type="submit" %} {% trans "Sign Up" %} {%
      endelement %} {% endslot %} {% endelement %} {% include
      "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
  </div>

  {% endblock content %}
</div>
