{% extends "base.html" %}

{% block content %}

<header>
    <div class="animate__animated animate__slideInDown" id="tittle">
        <h1>PETER & AMELIA</h1>
        <p>Would like to invite you!</p>
    </div>
</header>


<article>
    <h2>Please join us on our
        <br>
        wedding day
    </h2>
    <hr>

    {% if user.is_authenticated %}
    <p>on the 5th April 2024 at 10am</p>
    <p>in</p>
    <p>St. Patrick's Cathedral, Dundalk</p>
    {% else %}
    <p>in April 2024</p>
    <p>in</p>
    <p>Dundalk</p>
    {% endif %}

    <i class="fa-brands fa-pagelines"></i>
</article>


<article class="venue">

    {% if user.is_authenticated %}
    <h2>Followed by a Lunch
        <br>
        in
    </h2>
    <hr>
    <p>Ballymascanlon Hotel in Dundalk</p>
    <p>at 12pm</p>

    {% else %}
    <h2>For more information</h2>
    <hr>
    <p id="info-access">
        Please <a href="{% url 'account_signup' %}" aria-label="Redirect to the register page">Register</a> or <a href="{% url 'account_login' %}" aria-label="Redirect to the login page">Login</a>.
    </p>
    {% endif %}

    <i class="fa-brands fa-pagelines"></i>
</article>

{% endblock %}