{% extends "base.html" %} {% block content %}

<header id="hero">
  <h1 class="my-auto">PETER & AMELIA</h1>
  <p>Would like to invite you!</p>
</header>

<main>
  <article>
    <h2>Please join us on our wedding</h2>
    <p>day on</p>
    <p>the 5th April 2024 <span class="guest-info">at 10am</span></p>
    <p>in</p>
    <p><span class="guest-info">St. Patrick's Cathedral, </span>Dundalk</p>
  </article>
  <article class="guest-info">
    <h2>Followed by a Lunch</h2>
    <p>in</p>
    <p>Ballymascanlon Hotel in Dundalk</p>
    <p>at 12pm</p>
  </article>
</main>

{%endblock%}
