{% extends "base.html" %}

{% block content %}

<div class="page-tittle">
    <h1> Memories </h1>
    <p>Share and view pictures
        <br>
        or stories about our wedding.
        <br>
    </p>
</div>

<!--Button to redirect to the form to add memory-->
<div class="d-grid gap-2 col-5 mx-auto">
    <a class="btn btn-custom" href="{% url 'memory_form' %}" role="button" aria-label="Go to the add memry page"><i class="fa-solid fa-plus"></i> Add your memory</a>
</div>

<article id="memories_list">

    <!--Filter Form-->
    <form method="GET" action="{% url 'memories' %}">
        <span class="location">
            <label for="location">Location:</label>
            <select class="btn btn-custom-3" name="location" id="location" aria-label="Select a location filter">
                <option value="">All</option>
                <option value="Church">Church</option>
                <option value="Town Hall">Town Hall</option>
                <option value="Venue">Venue</option>
                <option value="Other">Other</option>
            </select>
        </span>
        <span class="inviter">
            <input class="form-check-input" type="checkbox" id="Bride" name="inviter" value="Bride" aria-label="Check to filter by Bride guests">
            <label class="form-check-label" for="Bride">Bride guest</label>
            <input class="form-check-input" type="checkbox" id="Groom" name="inviter" value="Groom" aria-label="Check to filter by Groom guests">
            <label class="form-check-label" for="Groom">Groom guest</label>
        </span>
        <input type="submit" aria-label="Confirm selected filter" value="Filter" class="btn btn-custom">
        <a class="btn btn-custom-2 mt-1" href="{% url 'memories' %}" role="button" aria-label="Clear filter">Clear</a>
    </form>

    <!--List of approved memories-->
    <div id="memories_list" class="row justify-content-center">
        {% for memories in memories_list %}
        <div class="card col-5 col-md-4 mt-2 p-2">
            <div class="image-container">
                {% if "placeholder" in memories.image.url %}
                <img class="card-img-top" alt="rose, default image" src="https://res.cloudinary.com/dbuqodley/image/upload/v1706041767/static/rose.afbe69ca5e9b.jpg">
                {% else %}
                <img class="card-img-top" alt="customized guest image" src=" {{ memories.image.url }}">
                {% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Author: {{ memories.author }}</strong>
                    <br>
                    {{memories.inviter}}
                    <hr>
                    <small>{{ memories.created_on }}</small>
                    <br>
                    Picture location: {{memories.location}}
                    <br>
                    Message: {{ memories.content }}
                </p>

                <!--Visible buttons for user to handle its memories-->
                {% if memories.author == user %}
                <a class="btn btn-custom mt-1" href="{% url 'edit' memories.id %}" role="button" aria-label="Go to the page to edit your memory">Edit</a>
                <a class="btn btn-custom-2 mt-1" href="/delete/{{ memories.id }}" role="button" aria-label="Click to delete your memory" title="This action will delete you memory permanently">Delete</a>
                {% else %}
                <i class="fa-brands fa-pagelines"></i>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>

    <!--Memories list Pagination-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn btn-primary" aria-label="Go to previous page">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn btn-primary" aria-label="Go to next page"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</article>


{% endblock %}